.form-container {
  margin-top: 35px;
}

.login-form{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
}

.register-form{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 550px;
}

.form h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.form input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form .name-input{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 47%;
}

.form .name-input:first-child{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 16px;
  display: inline-block;
}

.form .input-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form .button-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.form .button-container button{
  
}
